@model Elixir.Areas.Admin.ViewModels.CreateBlogPostViewModel
@{
    ViewBag.Title = "Create Blog Post";
}

@section Scripts
{
    @Scripts.Render("~/bundles/summernote/js")
    @Scripts.Render("~/Scripts/App/Views/add-edit-blog-post.js")
    @Scripts.Render("~/Scripts/App/leaveDirtyForm.js")
    @Scripts.Render("~/Scripts/App/Views/tagsControl.js")
}

@section Styles
{
    @Styles.Render("~/Styles/Components/Controls/Inputs.css")
    @Styles.Render("~/bundles/summernote/css")

}

<h1 class="head-title">@ViewBag.Title</h1>

@using (Html.BeginForm("Create", "Blog", FormMethod.Post))
{
    @Html.Partial("_BlogsEditor", Model)

    <br />
    <br />

    <div class="form-group row">
        <div class="offset-2 col-2">
            @Html.ActionLink("Cancel", "Index", "Blog", null, new { @class = "btn btn-light skipWarnUnsavedChanges" })
        </div>
        <div class="col-2">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
}
