@model Elixir.Models.ChangePassword

@using (Html.BeginForm("ChangePassword", "WebPageVisual", FormMethod.Post, new { @id = "frmChangePassword" }))
{
    if (TempData["SuccessMsgChangePassword"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMsgChangePassword"].ToString()
        </div>
    }
    if (TempData["ErrorMsgChangePassword"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMsgChangePassword"].ToString()
        </div>
    }

    <div class="form-group row">
        <div class="col-10">
            @Html.LabelFor(x => x.CurrentPassword, "Current Password", new { @class = "col-form-label" })
            @Html.EditorFor(x => x.CurrentPassword, new { htmlAttributes = new { @class = "form-control", @id = "txtCurrentPassword" } })
            <span id="spCurrentPassword" class="field-validation-error" for="txtCurrentPassword"></span>
            <div>
                <span>Forgot your current password? Logout and use the forgotten password link.</span>
            </div>
            <div style="text-align: right;" class="mt-3">
                <input type="checkbox" id="chkHideCurrentPassword" name="chkHideCurrentPassword" />
                <label for="chkHideCurrentPassword">Hide Password</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-10">
            @Html.LabelFor(x => x.NewPassword, "New Password", new { @class = "col-form-label" })
            @Html.EditorFor(x => x.NewPassword, new { htmlAttributes = new { @class = "form-control", @id = "txtNewPassword" } })
            <span id="spNewPassword" class="field-validation-error" for="txtNewPassword"></span>
            <div>
                <span>8-50 characters (must include one uppercase, one lowercase and one digit)</span>
            </div>
            <div style="text-align: right;" class="mt-3">
                <input type="checkbox" id="chkHideNewPassword" name="chkHideNewPassword" />
                <label for="chkHideNewPassword">Hide Password</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <button type="button" id="btnSave" class="btn btn-primary">
                Update
            </button>
        </div>
    </div>
}