@model Elixir.Areas.Admin.Views.WebPage.CreateWebPageViewModel

@{
    ViewBag.Title = "Create Web Page";
}

<h1 class="head-title">Create Web Page</h1>

@using (Html.BeginForm("Create", "WebPage", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.Partial("_WebPageEditor", Model)

    <br />
    <br />

    <div class="form-group row">
        <div class="offset-2 col-2">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-light skipWarnUnsavedChanges" })
        </div>
        <div class="col-2">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/summernote/js")
    @Scripts.Render("~/Scripts/App/Views/add-edit-webpage.js")
    @Scripts.Render("~/Scripts/App/leaveDirtyForm.js")
}

@section Styles
{
    @Styles.Render("~/Styles/Components/Controls/Inputs.css")
    @Styles.Render("~/bundles/summernote/css")
}