@model Elixir.Areas.AdminManual.ViewModels.EditPageViewModel

@{
    ViewBag.Title = "Edit Page";
}

@section Scripts
{
    @Scripts.Render("~/Scripts/App/confirmation.js")
}

<h1 class="head-title">Edit Page</h1>

@using (@Html.BeginForm("Edit", "Page", FormMethod.Post))
{
    @Html.Partial("_PageEditor", Model)

    <br />
    <br />

    <div class="form-group row">
        <div class="offset-2 col-2">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-light" })
        </div>
        <div class="col-2">
            @Html.ActionLink("Delete", "Delete", new { id = Model.Model.Id }, new { @class = "btn btn-danger confirmable-action" })
        </div>
        <div class="col-2">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}
